@import "vendor/bootstrap-4.0/bootstrap", "vendor/font-awesome-4.7.0/font-awesome", "vendor/OwlCarousel2-2.2.1/owl.carousel", "vendor/OwlCarousel2-2.2.1/owl.theme.default";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/layout", "partials/mixins";

@import "components/ui-elements";

@import "layout/header";

@import "pages/login-signup", "pages/profile", "pages/homepage", "pages/video", "pages/leaderboard",  "pages/chat", "pages/notifications",  "pages/quiz",  "pages/badge";

body {
  font-family: $font-primary;
  color: #312b2b;
}
h1,
h2,
h3 {
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.card {
  @include border-radius(20px);
  background: $white-color;
  @include card-shadow;
}

.white-bg {
  background: $white-color;
}
.text-brand-color-blue {
  color: $brand-color;
}
.text-brand-color-pink {
  color: $brand-second-color;
}
.text-bold {
  font-family: $font-secondary;
}

.borderless-table td,
.borderless-table th {
  border: none;
}

.main-container {
  @include padding(130px, 100px, 100px, 100px);

  @include breakpoint(sm) {
    @include padding(80px, 30px, 30px, 30px);
  }
  @include breakpoint(md) {
    @include padding(100px, 30px, 30px, 30px);
  }
  @include breakpoint(lp) {
    @include padding(130px, 65px, 100px, 65px);
  }

  h1 {
    font-size: 25px;
    font-family: $font-secondary;
    @include margin(0, 0, 50px, 30px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
  }
  .title {
    color: $dark-brown-shade-3;
    font-size: 24px;
    @include margin(0, 0, 20px, 0);
    font-family: $font-secondary;
  }
}

.content-wrapper {
  @include border-radius(20px);
  background: $white-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid black(0.1);
  @include padding(50px, 30px, 50px, 30px);
  overflow: hidden;
  position: relative;

  @include breakpoint(sm) {
    @include padding(30px, 30px, 30px, 30px);
  }
}

#confetti-holder {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.congratulation-content {
  @include flex-center-column;
  z-index: 99;
  position: relative;

  .icon {
    display: block;
    background: url(../images/icons-sprite.png) no-repeat;
    background-size: 752px 760px;
    width: 120px;
    height: 120px;
    background-position: -390px -8px;
    @include margin(0, 0, 50px, 0);
  }

  h2 {
    font-family: $font-secondary;
    font-size: 30px;
    @include margin(0, 0, 10px, 0);
    color: $dark-brown-shade-3;
  }
  p {
    font-size: 30px;
    @include margin(0, 0, 50px, 0);
    color: $dark-brown-shade-3;
  }

  .footer-row {
    display: flex;
    flex-wrap: wrap;
    @include margin(0, 0, 50px, 0);
    @include breakpoint(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
    }
    @include breakpoint(md) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
    }

    .item {
      color: $white-color;
      font-size: 30px;
      font-family: $font-secondary;
      @include padding(20px, 9, 20px, 0);
      @include margin(0, 25px, 10px, 25px);
      @include border-radius(5px);
      @include flex-center;
      width: 270px;

      i {
        @include margin(0, 0, 0, 10px);
      }

      &__icon {
        display: block;
        background: url(../images/icons-sprite.png) no-repeat;
        background-size: 234px 193px;
        @include margin(0, 0, 0, 10px);
      }
      &--icon-01 {
        width: 30px;
        height: 30px;
        background-position: -4px -40px;
      }
      &--icon-02 {
        width: 40px;
        height: 30px;
        background-position: -40px -40px;
      }
    }

    .red {
      background: #d4010b;
    }
    .pink {
      background: #f937b6;
    }
    .blue {
      background: $brand-color;
    }
  }
}

.total-time-text{
  font-size: 30px;
  @include breakpoint(sm) {
    font-size: 20px;
}
}

.modal-content {
  background: $brand-second-color;
  @include border-radius(20px);
  border: 0;
  box-shadow: none;
  @include padding(50px, 30px, 50px, 30px);
  .modal-header {
    @include margin(0, 0, 30px, 0);
    @include padding(0, 0, 0, 0);
    flex-direction: column;

    .modal-title {
      color: $white-color;
      font-family: $font-secondary;
      font-size: 30px;
    }
    p {
      color: $white-color;
      font-size: 18px;
      @include margin(0, 0, 30px, 0);
    }
  }
  .modal-body {
    @include padding(0, 0, 0, 0);
    .list-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include margin(0, 0, 30px, 0);
      &__item {
        @include margin(0, 10px, 10px, 0);

        @include breakpoint(sm) {
          width: 100%;
          @include margin(0, 0, 10px, 0);
        }

        &:nth-of-type(3n + 3) {
          @include margin(0, 0, 10px, 0);
        }
      }

      &__link {
        @include flex-center-column;
        border: solid 2px $white-color;
        @include border-radius(10px);
        display: block;
        @include padding(30px, 30px, 30px, 30px);

        .icon {
          display: block;
          background: url(../images/icons-sprite.png) no-repeat;
          background-size: 663px 599px;
          width: 110px;
          height: 90px;
          margin: 0 auto 20px;
          background-position: -110px -120px;
        }
        .date-text {
          color: $white-color;
          font-family: $font-secondary;
          font-size: 30px;
          display: block;
          text-align: center;
          @include margin(0, 0, 20px, 0);
        }
        .coin-text {
          color: $white-color;
          font-size: 18px;
          display: block;
          text-align: center;
        }

        &:hover {
          background: $white-color;
          box-shadow: 0 0 10px $white-color;
          .date-text {
            color: $brand-second-color;
          }
          .coin-text {
            color: $brand-second-color;
          }
          .icon {
            background-position: -110px -234px;
          }
        }
      }
    }
  }
}

/* pagination */
.pagination {
  li {
    &.active {
      .page-link {
        color: $white-color;
        background: $brand-color;
      }
    }
  }
  .page-link {
    background: none;
    border: 1px solid $brand-color;
    color: $dark-grey-color;
    line-height: 45px;
    width: 45px;
    text-align: center;
    @include padding(0, 0, 0, 0);
    @include margin(0, 5px, 0, 5px);
    @include border-radius(5px);
    display: block;
    font-size: 18px;

    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
  .page-item:first-child .page-link {
    color: $brand-color;
    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
  .page-item:last-child .page-link {
    color: $brand-color;
    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
}


