header {
    nav {
        &.navbar {
            background-color: #f8f8f8;
            padding: 10px 100px 10px 100px;
            border-bottom: solid 1px #eeeded;
            width: 100%;
            @include transition(all 0.6s ease);

            @include breakpoint(lp) {
                padding: 10px 65px 10px 65px;
            }
            @include breakpoint(sm) {
                padding: 10px 30px 10px 30px;
            }
            @include breakpoint(md) {
                padding: 15px 30px 15px 30px;
            }

            .icon-bar {
                width: 26px;
                height: 3px;
                @include border-radius(50px);
                background-color: $dark-grey-color;
                display: block;
                transition: all 0.4s;
                margin-top: 4px;
            }
            .navbar-toggler {
                border: none;
                background: transparent !important;
                position: absolute;
                right: 10px;
                top: 15px;

                @include breakpoint(md) {
                    right: 20px;
                    top: 16px;
                }

                .top-bar {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                }
                .middle-bar {
                    opacity: 0;
                }
                .bottom-bar {
                    transform: rotate(-45deg);
                    transform-origin: 10% 90%;
                }
                &.collapsed {
                    .top-bar {
                        transform: rotate(0);
                    }
                    .middle-bar {
                        opacity: 1;
                    }
                    .bottom-bar {
                        transform: rotate(0);
                    }
                }
            }
        }
        .navbar-nav {
            margin-left: auto !important;
            display: flex;
            align-items: center;
            @include margin(0, 30px, 0, 0);

            @include breakpoint(sm) {
                flex-direction: row;
            }


            .nav-item {
                @include breakpoint(sm) {
                    padding: 20px 0 10px 0;
                }
                @include breakpoint(md) {
                    padding: 20px 0 10px 0;
                }
            }
            .nav-link {
                font-size: 20px;
                text-transform: capitalize;
                color: $brand-color !important;
                padding: 0 0 0 0 !important;
                margin-left:40px;
                font-weight: 600;
                position: relative;

                &:hover {
                    color: $brand-second-color !important;
                    &:before {
                        width: 20px;
                    }
                }
            }
        }

        .dropdown {
            display: flex;
            align-items: center;
            .dropdown-toggle {
                &:after {
                    content: "\f107";
                    font-family: "FontAwesome";
                    position: absolute;
                    @include margin(3px, 0, 0, 15px);
                    border: 0;
                    color: $brand-color;
                    font-weight: 300;
                    font-size: 16px;
                    right: 7px;
                    top: 16px;

                    @include breakpoint(sm) {
                        top: 10px;
                    }

                }
            }
            .user-thumb-holder {
                align-items: center;
                display: flex;
                justify-content: center;
                .user-img {
                    img {
                        width: 45px;
                        height: 45px;
                        @include border-radius(50%);

                        @include breakpoint(sm) {
                            width: 30px;
                            height: 30px;
                        }


                    }
                }
                .user-name {
                    color: $dark-brown-shade-2;
                    font-size: 15px;
                    display: inline-block;
                    @include margin(0, 5px, 0, 15px);
                    @include padding(0, 0, 0, 0);
                    font-family:$font-montserrat;
                    font-weight: 500;
                }

            }
        }
        .show {
            .dropdown-toggle {
                &:after {
                    content: "\f106";
                }
            }
        }

        .dropdown-menu {
            border: 0;
            box-shadow: 0px 3px 6px #00000029;
            @include border-radius(0);
            @include padding(0, 0, 0, 0);
            right: 0;
            left: initial;
            top: 60px;
            width: 200px;
            position: absolute;

            @include breakpoint(sm) {
                top: 55px;
            }

            &:after {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 7px;
            }

            .dropdown-item {
                position: relative;
                font-size: 16px;
                font-weight: 600;
                color: $brand-color;
                border-bottom: 1px solid rgba(#707070, 0.2);
                @include padding(0, 15px, 0, 15px);
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    width: 0;
                    left: 0;
                    height: 65px;
                    @include transition(all 0.5s ease);
                    background: rgba($brand-color, 0.1);
                }
                &:hover {
                    color: $brand-color;
                    background: none;
                    &:before {
                        width: 100%;
                    }
                }
                &:focus {
                    color: $brand-color;
                    background: none;
                    &:before {
                        width: 100%;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
            .logout-link {
                color: #b81a1a;
            }
        }
    }

    .logo {
        background: url("../images/logo.png") no-repeat;
        width: 190px;
        height: 35px;
        display: inline-flex;
        background-size: 35px 35px;
        align-items: center;
        white-space: nowrap;
        @include padding(0, 0, 0, 45px);

        @include retina("../images/logo@2x.png", 35px, 35px);
        .logo-text {
            text-transform: uppercase;
            color: $dark-brown-shade-1;
            font-size: 20px;
            @include transition(all 0.6s ease);
            font-family: $font-avertablack;
            display: block;

            @include breakpoint(sm) {
                display: none;
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        @include breakpoint(sm) {
            position: absolute;
            right: 80px;
            top: 5px;
        }
        @include breakpoint(md) {
            position: absolute;
            right: 100px;
            top: 5px;
        }
    }
}

header.header-scroll {
    nav {
        padding: 5px 30px 5px 30px;

        @include breakpoint(sm) {
            padding: 10px 30px 10px 30px;
        }
        @include breakpoint(md) {
            padding: 15px 30px 15px 30px;
        }
    }
    .logo {
        width: 35px;
        height: 35px;

        .logo-text {
            opacity: 0;
            display: none;

        }
    }
}
