.button-outer {
  padding: 15px 60px;
  font-size: 25px;
  cursor: pointer;
  border: 0;
  @include border-radius(5px);
  color: white;
  display: inline-block;
  @include transition(all 0.5s ease);

  @include breakpoint(sm) {
    font-size: 16px;
  }
  @include breakpoint(md) {
    font-size: 16px;
  }
  @include breakpoint(lp) {
    font-size: 18px;
  }

  &:hover {
    @include button-hover();
  }
}

.button-fill-blue {
  @include background-transition($brand-color, transparent);
  border: 2px solid $brand-color;
  color: $white-color;
  &:hover {
    color: $brand-color;
  }
}

.button-fill-white {
  @include background-transition($white-color, transparent);
  border: 2px solid $white-color;
  color: $brand-second-color;
  &:hover {
    color: $white-color;
  }
}
.button-fill- {
  @include background-transition($brand-color, transparent);
  border: 2px solid $brand-color;
  color: $white-color;
  &:hover {
    color: $brand-color;
  }
}

.button-outline-blue {
  @include background-transition(transparent, $brand-color);
  border: 1px solid $brand-color;
  color: $brand-color;
  &:hover {
    color: $white-color;
  }
}

.form-control {
  @include border-radius(5px);
  height: 55px;
  font-size: 16px;
  /*  color: $dark-brown-shade-2; */
  border: 1px solid black(0.1);
  @include transition(all 0.5s ease);
  @include input-placeholder {
    color: black(0.2);
  }
  &:focus {
    box-shadow: none;
    @include input-hover;
    border: 1px solid $brand-color;
  }
}

.border-title-head {
  border-bottom: 1px solid black(0.1);
  @include padding(0, 0, 20px, 0);
  @include margin(0, 0, 50px, 0);
  display: flex;
  justify-content: space-between;

  @include breakpoint(sm) {
    flex-direction: column;
  }

  .title {
    font-size: 25px;
    font-family: $font-secondary;
    margin-bottom: 0 !important;

   
  }
}

.color-fill-link {
  display: block;
  color: $light-grey-color;
  font-size: 16px;
  position: relative;
  word-break: break-word;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    height: 30px;
    white-space: pre;
    word-break: normal;
    color: $brand-second-color;
    content: attr(data-hover);
    @include transition(all 0.6s ease-out);
  }
  &:hover {
    &::before {
      max-width: 100%;
    }
  }
}

.upload-file-button-wrapper {
  position: relative;
  text-align: center;
  border: 2px dashed #ccc;
  background: $white-color;
  @include border-radius(5px);
  height: 55px;
  width: 100%;
  @include flex-center-column;

  #button-upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}

%bubble-message {
  @include card-shadow;
  @include border-radius(20px);
  @include padding(30px, 30px, 30px, 30px);
  @include margin(0, 0, 30px, 0);
  @include flex-center-vert;

  svg {
    @include margin(0, 10px, 0, 0);
  }
}
.bubble-message-white {
  background: $white-color;
  @extend %bubble-message;
  color: $dark-brown-shade-3;
}
.bubble-message-success {
  background: green;
  @extend %bubble-message;
  color: $white-color;
}
.bubble-message-error {
  background: red;
  @extend %bubble-message;
  color: $white-color;
}
.bubble-message-info {
  background: yellow;
  @extend %bubble-message;
  color: $dark-brown-shade-3;
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(2px, 0, 0, 30px);
      @include margin(0, 0, 0, 0);
      user-select: none;
      color: $light-grey-color;
      font-size: 16px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $border-grey-color;
        @include border-radius(3px);
        background: $white-color;
        text-align: center;
        @include transition(all 0.5s ease);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
          border: 1px solid $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}

%custom-dropdown {
  .nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: left;
    font-size: 16px;
    outline: none;
    position: relative;
    text-align: left !important;
    @include transition(all 0.5s ease);
    user-select: none;
    white-space: nowrap;
    width: 100%;
    color: $dark-grey-color;
    // Arrow
    &:after {
      border-bottom: 2px solid $brand-color;
      border-right: 2px solid $brand-color;
      content: "";
      display: block;
      height: 8px;
      width: 8px;
      margin-top: 3px;
      pointer-events: none;
      position: absolute;
      right: 15px;
      top: 15px;
      transform-origin: 66% 66%;
      transform: rotate(45deg);
      @include transition(all 0.5s ease);
    }

    .current {
      @include margin(0, 0, 0, 15px);
    }

    &.open {
      @extend :active;
      &:after {
        transform: rotate(-135deg);
      }
      .list {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1) translateY(0);
      }
    }
    // List and options
    .list {
      background-color: $white-color;
      border: 1px solid rgba($black-color, 0.2);
      box-shadow: 0 8px 5px 0 rgba($black-color, 0.1);
      @include border-radius(0);
      margin-top: 0;
      opacity: 0;
      padding: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transform-origin: 50% 0;
      -webkit-overflow-scrolling: touch;
      transform: scale(0.75) translateY(-$input_height / 2);
      transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      z-index: 9;
      /* min-height: 170px; */
      overflow-y: auto;
      overflow: hidden;
      font-size: 14px;
      @include padding(10px, 0, 10px, 0);
      &:hover .option:not(:hover) {
        background-color: transparent !important;
      }
    }
    .option {
      cursor: pointer;
      line-height: 35px;
      list-style: none;
      min-height: 35px;
      outline: none;
      @include padding(0, 15px, 0, 15px);
      @include transition(all 0.5s ease);
      color: $dark-grey-color;
      text-align: left;
      &:hover,
      &.focus,
      &.selected.focus {
        color: $brand-color;
      }
      &.selected {
        font-weight: bold;
      }
    }
  }
}

.custom-dropdown-outline {
  @extend %custom-dropdown;
  background: none;
  @include border-radius(5px);
  height: 45px;
  line-height: 45px;
  border: 1px solid $brand-color;
}
