// colors
$brand-color: #3ab3e5;
$brand-second-color: #c50080;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: rgba($black-color, 0.2); 
$border-grey-color: rgba($black-color, 0.1); 
$dark-grey-color: #565656;
$text-grey-color: rgba($black-color, 0.5);
$dark-brown-shade-1: #483a3b; 
$dark-brown-shade-2: #312b2b; 
$dark-brown-shade-3: #3f1912; 
// fonts
$font-primary: "avertaregular";
$font-secondary: "avertabold";
$font-avertablack: "avertablack";
$font-montserrat: 'Montserrat', sans-serif;
