.badges {
    @include margin(0, 0, 30px, 0);
    .badge-item {
        @include flex-center-column;
        @include padding(30px, 10px, 30px, 10px);
        @include margin(10px, 0, 15px, 0);
        @include border-radius(10px);
        @include transition(all 0.6s ease);
        figure {
            @include margin(0, 0, 20px, 0);
            width: 50%;
            img {
                width: 100%;
            }
        }
        .badge-icon {
            width: 128px;
            height: 112px;
            line-height: 95px;
            display: block;
            color: $white-color;
            font-size: 18px;
            font-family: $font-secondary;
            text-align: center;
            @include margin(0, 0, 20px, 0);
        }
        .text-lg {
            font-family: $font-secondary;
            @include margin(0, 0, 10px, 0);
            display: inline-block;
            font-size: 30px;
        }
        .text-sm {
            display: inline-block;
            font-size: 17px;
        }
        &:hover {
            @include card-hover;
        }
    }
    .badge-item--grey {
        border: 2px solid #dcdcdc;
        .badge-icon-grey {
            background: url(../images/badge-grey.png) no-repeat;
        }
        .text-lg {
            color: #dcdcdc;
        }
        .text-sm {
            color: #dcdcdc;
        }
    }
    .badge-item--purple {
        border: 2px solid #c50080;
        .badge-icon-purple {
            background: url(../images/badge-purple.png) no-repeat;
        }
        .text-lg {
            color: #c50080;
        }
        .text-sm {
            color: #c50080;
        }
    }
    .badge-item--cyan {
        border: 2px solid #00a8ac;
        .badge-icon-cyan {
            background: url(../images/badge-cyan.png) no-repeat;
        }
        .text-lg {
            color: #00a8ac;
        }
        .text-sm {
            color: #00a8ac;
        }
    }
    .badge-item--red {
        border: 2px solid #b72229;
        .badge-icon-red {
            background: url(../images/badge-red.png) no-repeat;
        }

        .text-lg {
            color: #b72229;
        }
        .text-sm {
            color: #b72229;
        }
    }
}

.challenge-completed {
    h4 {
        @include margin(0, 0, 30px, 0);
        text-align: center;
        font-size: 18px;
        color: $dark-brown-shade-2;
    }
    .number-badge {
        background-color: #f937b6;
        @include border-radius(5px) font-family: $font-secondary;
        color: $white-color;
        font-size: 40px;
        width: 136px;
        margin: 0 auto 30px;
        text-align: center;
        @include padding(10px, 0, 10px, 0);
    }
    .progress-outer {
        .progress-bar {
            background-color: #f937b6;
        }
    }
}
.list-group {
    &__item {
        @include padding(20px, 10px, 20px, 10px);
        @include margin(0, 0, 0, 0);
        display: flex;
        flex-direction: row;
        align-items: center;

        @include breakpoint(sm) {
            flex-direction: column;
        }
        .check-icon {
            @include margin(0, 40px, 0, 0);
            @include breakpoint(sm) {
                @include margin(0, 0, 10px, 0);
            }
        }

        p {
            font-size: 18px;
            color: $dark-brown-shade-3;
            @include margin(0, 40px, 0, 0);
            @include breakpoint(sm) {
                @include margin(0, 0, 20px, 0);
                font-size: 16px;
                text-align: center;
            }
        }
        .xp-text {
            color: #d4010b;
            font-family: $font-secondary;
        }
        .coins-text {
            color: $brand-color;
            font-family: $font-secondary;
            display: flex;
            align-items: center;
            .icon {
                display: inline-block;
                background: url(../images/icons-sprite.png) no-repeat;
                background-size: 197px 164px;
                width: 30px;
                height: 30px;
                background-position: -34px -97px;
                @include margin(0, 0, 0, 10px);
            }
        }
        .completed-badge {
            @include padding(5px, 15px, 5px, 15px);
            @include border-radius(3px);
            background: #00a8ac;
            margin-left: auto;
            color: $white-color;
            font-size: 16px;
            margin-right: 0;

            @include breakpoint(sm) {
                margin: auto;
            }
        }
    }
    &--locked {
        position: relative;
        &:before {
            background: black(0.4);
            height: 100%;
            width: 100%;
            content: "Challenge is locked";
            text-align: center;
            color: $white-color;
            left: 0;
            top: 0;
            position: absolute;
            @include padding(35px, 0, 0, 0);
        }
        &:after {
            font-family: "FontAwesome";
            color: $white-color;
            position: absolute;
            content: "\f023";
            font-size: 20px;
            text-align: center;
            left: 50%;
            top: 13px;
            @include transform(translateX(-50%));
        }
    }
}
