.chat-panel {
    right: -630px;
    background-color: $white-color;
    @include transition(all 0.5s ease);
    position: fixed;
    top: 70px;
    z-index: 9999;
    width: 630px;
    height: 100%;
    box-shadow: 8px 16px 40px #cacaca;

    @include breakpoint(sm) {
        right: -100%;
        width: 100%;
    }

    .title-head {
        @include padding(0, 0, 0, 0);
        @include margin(0, 0, 40px, 0);
        border-bottom: 1px solid rgba($black-color, 0.1);
        height: 80px;
        @include flex-center;
        h2 {
            font-size: 25px;
            color: $dark-brown-shade-2;
            font-family: $font-secondary;
            text-align: center;
        }
    }
    .close-panel-btn {
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 7px;
        &:hover {
            color: $brand-color;
        }
    }
    &.right-open {
        right: 0;
    }
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    .load-link {
        font-size: 14px;
        color: $brand-second-color;
        display: inline-block;
        @include margin(-20px, 0, 40px, 40px);
    }
}

.msger-chat {
    overflow-y: auto;
    height: calc(100% - 200px);
    position: absolute;
    @include scrollbars(5px, $brand-color, $light-grey-color);
    @include margin(30px, 30px, 0, 0);
    @include padding(0, 30px, 100px, 30px);
}
.msg {
    @include margin(0, 0, 50px, 0);

    .msg-body {
        display: flex;
        align-items: flex-start;
        @include margin(0, 0, 10px, 0);
    }
    .msg-img {
        width: 70px;
        height: 70px;
        overflow: hidden;
        @include margin(0, 20px, 0, 0);
        background: #ddd;
        @include border-radius(50%);

        @include breakpoint(sm) {
            width: 40px;
            height: 40px;
        }

        img {
            width: 100%;
            @include margin(0, 20px, 0, 0);
        }
    }
    .msg-bubble {
        @include padding(20px, 20px, 20px, 20px);
        width: 80%;
    }
    .msg-info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: $light-grey-color;
    }
    &.left-msg {
        .msg-img {
            @include margin(0, 20px, 0, 0);
        }
        .msg-bubble {
            border-bottom-left-radius: 0;
            background: $brand-color;
            position: relative;
            &::before {
                width: 0;
                height: 0;
                border-top: 20px solid $brand-color;
                border-left: 20px solid transparent;
                position: absolute;
                top: 0;
                left: -20px;
                content: "";
            }
        }

        .msg-text {
            color: $white-color;
        }
        .msg-info {
            @include padding(0, 10px, 0, 90px);
        }
    }
    &.right-msg {
        flex-direction: row-reverse;
        .msg-body {
            flex-direction: row-reverse;
        }
        .msg-bubble {
            background: black(0.1);
            border-bottom-right-radius: 0;
            position: relative;
            &::before {
                width: 0;
                height: 0;
                border-top: 20px solid black(0.1);
                border-right: 20px solid transparent;
                position: absolute;
                top: 0;
                right: -20px;
                content: "";
            }
        }
        .msg-img {
            @include margin(0, 0, 0, 20px);
        }
        .msg-text {
            color: $dark-grey-color;
        }
        .msg-info {
            @include padding(0, 90px, 0, 10px);
        }
    }
}

.msger-inputarea-outer {
    height: 100px;
    background: $white-color;
    position: absolute;
    bottom: 70px;
    width: 100%;
    @include padding(0, 30px, 0, 30px);
    @include flex-center;
}
.msger-inputarea {
    display: flex;
    width: 100%;
    @include padding(5px, 5px, 5px, 5px);
    @include border-radius(50px);
    background-color: #f6f4f4;
    justify-content: space-between;
    position: relative;
    &:before {
        font-family: FontAwesome;
        left: 16px;
        position: absolute;
        top: 7px;
        color: $dark-grey-color;
        font-size: 30px;
        content: "\f118";
    }
    .msger-input {
        background: none;
        font-size: 18px;
        color: $dark-grey-color;
        @include padding(0, 0, 0, 50px);
        width: 85%;

        @include breakpoint(sm){
            font-size: 15px;
        }

        @include input-placeholder{
            color: $dark-grey-color;
        }

    }
    .msger-send-btn {
        margin-left: 10px;
        background: $brand-color;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        height: 50px;
        width: 50px;
        @include flex-center;
        @include border-radius(50px);

        &:hover {
            background: $brand-second-color;
        }
    }
}
