.left-top-section {
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
    }
    @include breakpoint(md) {
        @include margin(0, 0, 0, 0);
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include padding(0, 0, 0, 0);
        position: relative;
        @include border-radius(20px);
        @include transition(all 0.6s ease);
        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
        }
        @include breakpoint(md) {
            @include margin(0, 0, 30px, 0);
        }

        .icon-holder-badge {
            background-color: #00a8ac;
        }
        .icon-holder-challenge {
            background-color: #f937b6;
        }
        .icon-holder-coins {
            background-color: $white-color;
        }

        .icon-holder {
            width: 60px;
            height: 60px;
            @include border-radius(20px);
            position: absolute;
            right: 20px;
            top: 20px;
            @include flex-center;
            @include transition(all 0.6s ease);

            .icon {
                display: block;
                background: url(../images/icons-sprite.png) no-repeat;
                background-size: 238px 221px;
                @include transition(all 0.6s ease);
            }

            .icon-badge {
                width: 27px;
                height: 37px;
                background-position: -4px -45px;
            }
            .icon-challenges {
                width: 27px;
                height: 37px;
                background-position: -87px -45px;
            }
            .icon-coins {
                width: 40px;
                height: 37px;
                background-position: -39px -87px;
            }
        }

        figcaption {
            @include padding(20px, 85px, 20px, 30px);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            height: 125px;

            span {
                color: $white-color;
                &.text-lg {
                    font-size: 40px;
                    @include margin(0, 0, 0, 0);
                    display: block;

                    @include breakpoint(lp) {
                        font-size: 18px;
                    }
                    @include breakpoint(sm) {
                        font-size: 18px;
                    }
                    @include breakpoint(md) {
                        font-size: 18px;
                    }
                }
                &.text-sm {
                    font-size: 22px;

                    @include breakpoint(lp) {
                        font-size: 14px;
                    }
                    @include breakpoint(sm) {
                        font-size: 14px;
                    }
                    @include breakpoint(md) {
                        font-size: 14px;
                    }
                }
            }
        }

        &:hover {
            @include card-hover;

            .icon-holder-badge {
                background-color: $white-color;
            }
            .icon-badge {
                background-position: -4px -89px;
            }
            .icon-holder-challenge {
                background-color: $white-color;
            }
            .icon-challenges {
                background-position: -87px -89px;
            }
            .icon-coins {
                background-position: -39px -132px;
            }
        }
    }
    .badges {
        @include gradient(#ff000c, #312b2b, horizontal);
    }
    .challenges {
        @include gradient(#483a3b, #3ab3e5, horizontal);
    }
    .coins {
        @include gradient(#483a3b, #f937b6, horizontal);
    }
}

.top-teams {
    @include padding(35px, 0, 50px, 0);
    @include margin(0, 0, 40px, 0);
    @include transition(all 0.6s ease);

    .title {
        @include padding(0, 0, 0, 40px);
    }

    .list-group {
        @include margin(0, 0, 50px, 0);
        &__item {
            display: flex;
            justify-content: space-between;
            @include padding(15px, 40px, 15px, 40px);
            .team-text {
                font-size: 18px;
                color: $dark-brown-shade-3;
            }
            .point-text {
                font-family: $font-secondary;
                font-size: 20px;
                color: #00a8ac;
            }
            &:nth-child(odd) {
                background: $white-color;
            }
            &:nth-child(even) {
                background: #f6f4f4;
            }
        }
    }
    .view-link {
        @extend .color-fill-link;
    }
    &:hover {
        @include card-hover;
    }
}

.top-player {
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 40px, 0);
    @include transition(all 0.6s ease);

    @include breakpoint(sm) {
        @include margin(0, 0, 40px, 0);
    }

    .head {
        @include margin(0, 0, 88px, 0);
        position: relative;

        @include breakpoint(sm) {
            @include margin(0, 0, 40px, 0);
        }

        .player-name {
            font-size: 20px;
            align-items: center;
            display: flex;
            @include padding(0, 80px, 0, 0);
            img {
                @include margin(0, 5px, 0, 0);
            }
            a {
                color: #00a8ac;
            }
        }
        .icon-holder {
            position: absolute;
            right: 0;
            top: 0;
            @include flex-center;
            background-color: #c50080;
            @include border-radius(20px);
            width: 80px;
            height: 80px;
            @include transition(all 0.6s ease);
            .icon {
                display: block;
                background: url(../images/icons-sprite.png) no-repeat;
                background-size: 263px 255px;
                width: 50px;
                height: 50px;
                background-position: -132px -47px;
                @include transition(all 0.6s ease);
            }
        }
    }
    .footer-items {
        .item {
            @include breakpoint(sm) {
                @include flex-center-column;
                @include margin(0, 0, 35px, 0);
            }
            &__icon {
                display: block;
                background: url(../images/icons-sprite.png) no-repeat;
                background-size: 226px 226px;
                @include margin(0, 0, 5px, 0);
            }
            &--icon-01 {
                width: 35px;
                height: 35px;
                background-position: -78px -4px;
            }
            &--icon-02 {
                width: 35px;
                height: 35px;
                background-position: 0px -4px;
            }
            &--icon-03 {
                width: 35px;
                height: 35px;
                background-position: -117px -4px;
            }
            &__text-lg {
                display: block;
                font-size: 30px;
                color: $dark-brown-shade-3;
                font-family: $font-secondary;
                @include margin(0, 0, 5px, 0);
            }
            &__text-sm {
                font-size: 18px;
                color: $dark-grey-color;
            }
        }
    }

    &:hover {
        @include card-hover;
        .icon-holder {
            background-color: $brand-color;
            .icon {
                background-position: -132px -98px;
            }
        }
    }
}

.upcoming-challenges {
    .card {
        @include padding(30px, 30px, 30px, 30px);
        @include transition(all 0.6s ease);
        @include breakpoint(sm) {
            @include margin(0, 0, 40px, 0);
        }

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include margin(0, 0, 20px, 0);

            @include breakpoint(sm) {
                flex-direction: column;
            }

            .time-text {
                color: $light-grey-color;
                font-size: 14px;
            }
            .date-text {
                color: $brand-color;
                font-size: 22px;
                font-family: $font-secondary;
            }
        }

        h3 {
            color: $dark-brown-shade-2;
            font-size: 26px;
            @include margin(0, 0, 20px, 0);
            font-family: $font-secondary;
        }
        p {
            font-size: 16px;
            color: $light-grey-color;
            @include margin(0, 0, 40px, 0);
            height: 80px;
            overflow: hidden;
        }
        .footer-row {
            display: flex;
            flex-wrap: wrap;

            @include breakpoint(sm) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                align-items: center;
            }
            @include breakpoint(md) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                align-items: center;
            }

            .item {
                color: $white-color;
                font-size: 12px;
                @include padding(10px, 20px, 10px, 20px);
                @include margin(0, 5px, 10px, 5px);
                @include border-radius(5px);
                @include flex-center;
                width: 130px;

                @include breakpoint(lp) {
                    width: 95px;
                    @include padding(10px, 0, 10px, 0);
                }

                &__icon {
                    display: block;
                    background: url(../images/icons-sprite.png) no-repeat;
                    background-size: 124px 124px;
                    @include margin(0, 0, 0, 10px);
                }
                &--icon-01 {
                    width: 15px;
                    height: 18px;
                    background-position: -2px -26px;
                }
                &--icon-02 {
                    width: 21px;
                    height: 18px;
                    background-position: -20px -26px;
                }
            }

            .red {
                background: #d4010b;
            }
            .pink {
                background: #f937b6;
            }
            .blue {
                background: $brand-color;
            }
        }

        &:hover {
            @include card-hover;
        }
    }

    .happening-now-card {
        background: $dark-brown-shade-1;
        .head {
            .time-text {
                color: $brand-color;
            }
        }

        h3 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
    }
}

.viewmore-button {
    display: block;
    text-align: center;
    @include padding(20px, 0, 20px, 0);
    color: $brand-color !important;
}
.viewmore-items {
    display: none;
}
