.filter-row {
    @include padding(50px, 50px, 50px, 50px);

    @include breakpoint(sm) {
        @include padding(0, 30px, 50px, 30px);
        @include margin(0, 0, 30px, 0);

        .custom-dropdown-outline {
            @include margin(0, 0, 30px, 0);
        }
    }
}
.search-wrapper-outer {
    position: relative;
    @include margin(0, 20px, 0, 0);

    @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
    }
}
.search-wrapper {
    position: absolute;
    right: 0;
}
.search-wrapper .input-holder {
    height: 60px;
    width: 50px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width: 450px;
    border-radius: 50px;
    background: none;
    border: 2px solid $brand-color;
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);

    @include breakpoint(lp) {
        width: 300px;
    }
    @include breakpoint(sm) {
        width: 250px;
    }
}
.search-wrapper .input-holder .search-input {
    width: 100%;
    height: 36px;
    padding: 0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    font-size: 18px;
    color: $brand-color;
    transform: translate(0, 60px);
    transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.3s;
    @include input-placeholder {
        color: $brand-color;
    }
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width: 50px;
    height: 60px;
    border: none;
    border-radius: 6px;
    background: #fff;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height: 60px;
    border-radius: 30px;
    color: $brand-color;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 14px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right: -45px;
    transform: rotate(0);
    transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.5s;

    @include breakpoint(sm) {
        right: -35px;
    }
}

.team-statistics {
    .team-statistics-body {
        @include padding(50px, 0, 50px, 0);

        @include breakpoint(sm) {
            @include padding(30px, 0, 30px, 0);

        }

        h4 {
            font-size: 25px;
            font-family: $font-secondary;
            color: $dark-brown-shade-3;
            @include margin(0, 0, 30px, 50px);

            @include breakpoint(sm) {
                @include margin(0, 0, 30px, 30px);
            }

        }
        header {
            background: $brand-color;
            @include padding(30px, 50px, 30px, 50px);
            @include margin(0, 0, 15px, 0);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @include breakpoint(lp) {
                @include padding(20px, 50px, 20px, 50px);
            }
            @include breakpoint(sm) {
                flex-direction: column;
            }

            h3 {
                font-size: 18px;
                color: $white-color;

                @include breakpoint(sm) {
                    @include margin(0, 0, 15px, 0);
                }

                &:nth-of-type(1) {
                    width: 30%;

                    @include breakpoint(sm) {
                        width: 100%;
                        text-align: center;
                    }
                }
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    width: 15%;
                    text-align: center;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
                &:nth-of-type(5) {
                    width: 20%;
                    text-align: center;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
            }
        }

        .list-group {
            &__item {
                @include padding(30px, 50px, 30px, 50px);
                @include margin(0, 0, 0, 0);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                @include transition(all 0.6s ease);
                transform: scale(1);

                @include breakpoint(sm) {
                    flex-direction: column;
                }
                .player-name {
                    display: inline-block;
                    font-size: 18px;
                    color: $dark-brown-shade-1;
                    width: 30%;
                    color: $dark-brown-shade-3;

                    @include breakpoint(sm) {
                        width: 100%;
                        text-align: center;
                    }
                }
                p {
                    font-size: 18px;
                    text-align: center;
                    width: 15%;
                    color: $dark-brown-shade-3;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
                .point-text {
                    font-size: 18px;
                    color: #00a8ac;
                    font-family: $font-secondary;
                    width: 20%;
                    display: inline-block;
                    text-align: center;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
                @include breakpoint(sm) {
                   .text-left{
                       text-align: center !important;
                       margin-bottom: 20px;
                   }
                    
                }

                &:hover {
                    background-color: #f6f4f4;
                    transform: scale(1.1);

                    P {
                        color: $brand-second-color;
                    }
                    .player-name {
                        color: $brand-second-color;
                    }
                    .point-text {
                        color: $brand-second-color;
                    }
                }

                &:nth-child(odd) {
                    background: $white-color;
                }
                &:nth-child(even) {
                    background: #f6f4f4;
                }
            }
        }

        .footer {
            @include padding(50px, 50px, 0, 50px);
            display: flex;
            justify-content: space-between;

            @include breakpoint(sm) {
                @include padding(50px, 30px, 0, 30px);
            }

            P {
                @include breakpoint(sm) {
                    @include margin(0, 0, 30px, 0);
                }
            }

            @include breakpoint(sm) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
