/* login signup wrap */
.singin-signup-wrap {
    @include flex-center;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #483a3b;
    @include padding(100px, 0, 100px, 0);

    @include breakpoint(sm) {
        @include padding(100px, 30px, 100px, 30px);
    }

    &__body {
        display: flex;
        height: 750px;
        @include border-radius(5px 5px 5px 5px);

        @include breakpoint(sm) {
            height: 1050px;
        }

        .form-group {
            @include margin(0, 0, 30px, 0);
            position: relative;
            display: flex;
            align-items: center;
            .icon {
                position: absolute;
                left: 20px;
                display: block;
                z-index: 9;
                height: 25px;

                @include breakpoint(sm) {
                    left: 10px;
                }

                .svg-icon {
                    fill: $brand-color;
                }
            }
        }
        .form-control {
            @include padding(0, 10px, 0, 55px);
            /*  @include text-shorten; */

            @include breakpoint(sm) {
                @include padding(0, 10px, 0, 45px);
            }
        }

        h1 {
            text-align: center;
            font-size: 40px;
            color: $brand-color;
            font-weight: bold;
            @include margin(0, 0, 30px, 0);
            font-family: $font-avertablack;

            @include breakpoint(sm) {
                font-size: 35px;
            }
            @include breakpoint(md) {
                font-size: 35px;
            }
        }

        h2 {
            color: $white-color;
            font-weight: bold;
            font-size: 50px;
            @include margin(0, 0, 30px, 0);
            font-family: $font-secondary;

            @include breakpoint(sm) {
                font-size: 30px;
            }
            @include breakpoint(md) {
                font-size: 30px;
            }
        }

        .singin-wrap {
            @include padding(60px, 60px, 60px, 60px);
            @include flex-center-vert-column;
            height: 750px;

            @include breakpoint(sm) {
                width: 100%;
                @include padding(50px, 30px, 50px, 30px);
            }
            @include breakpoint(md) {
                @include padding(50px, 30px, 50px, 30px);
            }

            .checkbox-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include margin(0, 0, 35px, 0);

                @include breakpoint(sm) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .forgot-link {
                    @extend .color-fill-link;
                }
                .checkboxes {
                    @include breakpoint(sm) {
                        @include margin(0, 0, 25px, 0);
                    }
                }
            }
        }
        .singin-wrap--dark {
            background: #00a8ac url(../images/sign-up-bg-transparent@2x.png) repeat;
            @include border-radius(5px 0 0 5px);
            height: 750px;

            @include breakpoint(sm) {
                height: 300px;
                @include border-radius(0 0 0 0);
            }

            .button-fill-white {
                color: #00a8ac;
                &:hover {
                    color: $white-color;
                }
            }
        }

        .signup-wrap {
            @include padding(60px, 60px, 60px, 60px);
            @include flex-center-vert-column;
            background: $white-color;
            height: 750px;

            @include breakpoint(sm) {
                width: 100%;
                @include padding(50px, 30px, 50px, 30px);
            }
            @include breakpoint(md) {
                @include padding(50px, 30px, 50px, 30px);
            }

            .logo {
                background-image: url("../images/logo.png");
                width: 140px;
                height: 138px;
                margin: 0 auto 30px;
                @include retina("../images/logo@2x.png", 140px, 138px);
            }

            h3 {
                text-align: center;
                @include margin(0, 0, 50px, 0);
                font-size: 40px;
                font-weight: bold;
                color: $dark-brown-shade-1;
            }
        }

        .signup-wrap--dark {
            background: $brand-second-color url(../images/sign-up-bg-transparent@2x.png) repeat;
            height: 750px;
            @include border-radius(0 5px 5px 0);

            @include breakpoint(sm) {
                height: 300px;
                @include border-radius(0 0 0 0);
            }
        }
    }

    &.right-panel-active .sign-in-container {
        @include transform(translateX(100%));

        @include breakpoint(sm) {
            @include transform(translateX(0));
        }
    }
    &.right-panel-active .sign-up-container {
        @include transform(translateX(100%));
        opacity: 1;
        z-index: 5;
        /* animation: show 0.6s; */

        @include breakpoint(sm) {
            @include transform(translateX(0));
        }
    }
    &.right-panel-active .overlay-container {
        @include transform(translateX(-100%));

        @include breakpoint(sm) {
            @include transform(translateX(0));
        }
    }
    &.right-panel-active .overlay {
        @include transform(translateX(50%));
    }
    &.right-panel-active .overlay-left {
        @include transform(translateX(0));
    }
    &.right-panel-active .overlay-right {
        @include transform(translateX(20%));
    }
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        @include transition(all 0.6s ease);
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
        background: $white-color;
        @include breakpoint(sm) {
            width: 100%;
            @include margin(0, 0, 20px, 0);
        }
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;

        @include breakpoint(sm) {
            width: 100%;
        }
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        @include transition(all 0.6s ease);
        z-index: 100;

        @include breakpoint(sm) {
            left: 0;
            bottom: 0;
            width: 100%;
            top: initial;
            height: 300px;
        }
    }
    .overlay {
        position: relative;
        left: -100%;
        width: 200%;
        @include transform(translateX(0));
        @include transition(all 0.6s ease);
    }
    .overlay-panel {
        position: absolute;
        top: 0;
        width: 50%;
        @include transform(translateX(0));
        @include transition(all 0.6s ease);
    }
    .overlay-left {
        @include transform(translateX(-20%));
    }
    .overlay-right {
        right: 0;
        @include transform(translateX(0));
    }
}

.svgContainer {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    margin-bottom: 40px;
    .mySVG {
        width: 145px;
        height: 145px;
    }
}
#forgot-password-cont {
    display: none;
}
.error-message{
    position: absolute;
    top: 55px;
    font-size: 14px;
}
