.notifications {
    @include padding(50px, 0, 50px, 0);

    @include breakpoint(sm) {
        @include padding(30px, 0, 30px, 0);
    }
    h4 {
        font-size: 25px;
        font-family: $font-secondary;
        color: $dark-brown-shade-3;
        @include margin(0, 0, 30px, 50px);

        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 30px);
        }
    }

    .list-group {
        &__item {
            @include padding(30px, 50px, 30px, 80px);
            @include margin(0, 0, 0, 0);
            display: flex;
            flex-direction: row;
            align-items: center;

            @include transition(all 0.6s ease);
            transform: scale(1);

            @include breakpoint(sm) {
                flex-direction: column;
            }

            span {
                @include margin(0, 40px, 0, 0);
                color: $light-grey-color;
                display: inline-block;

                @include breakpoint(sm) {
                    @include margin(0, 0, 20px, 0);
                    font-size: 16px;
                    text-align: center;
                }
            }

            p {
                font-size: 18px;
                color: $light-grey-color;
                @include margin(0, 40px, 0, 0);

                @include breakpoint(sm) {
                    @include margin(0, 0, 20px, 0);
                    font-size: 16px;
                    text-align: center;
                }
            }

            .link {
                font-size: 18px;
                color: #00a8ac;
                font-family: $font-secondary;
                display: inline-block;
                text-align: center;
                margin: auto;
                &:hover {
                    color: $brand-second-color;
                }

                @include breakpoint(sm) {
                    margin: auto;
                }
            }

            &:hover {
                background-color: #f6f4f4;
                transform: scale(1.1);

                P {
                    color: $brand-second-color;
                }
                .player-name {
                    color: $brand-second-color;
                }
                .point-text {
                    color: $brand-second-color;
                }
            }

            &:nth-child(odd) {
                background: $white-color;
            }
            &:nth-child(even) {
                background: #f6f4f4;
            }
        }
        &--unread {
            position: relative;
            &:before {
                background: $dark-brown-shade-3;
                height: 10px;
                width: 10px;
                @include border-radius(50%);
                content: "";
                left: 50px;
                position: absolute;
            }
            span {
                font-size: 18px;
                color: $dark-brown-shade-3;
                font-family: $font-secondary;
            }
            p {
                font-size: 18px;
                color: $dark-brown-shade-3;
                font-family: $font-secondary;
            }
        }
    }

    .footer {
        @include padding(50px, 50px, 0, 50px);
        display: flex;
        justify-content: space-between;

        @include breakpoint(sm) {
            @include padding(50px, 30px, 0, 30px);
        }

        P {
            @include breakpoint(sm) {
                @include margin(0, 0, 30px, 0);
            }
        }

        @include breakpoint(sm) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
