.profile-wrapper {
    @include border-radius(20px);
    background: $white-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    /* border: solid 1px #c4c4c4; */
    border: 1px solid black(0.1);

    &__left {
        @include padding(50px, 50px, 50px, 50px);
        border-right: 1px solid black(0.1);

        @include breakpoint(sm) {
            @include padding(40px, 20px, 40px, 20px);
            border-right: 0;
        }
        @include breakpoint(md) {
            @include padding(40px, 20px, 40px, 20px);
        }
        @include breakpoint(lp) {
            @include padding(50px, 30px, 50px, 30px);
        }

        .user-thumb-info {
            @include flex-center-column;
            @include margin(0, 0, 50px, 0);
            .user-avatar {
                width: 150px;
                height: 150px;

                @include margin(0, 0, 30px, 0);

                img {
                    width: 150px;
                    height: 150px;
                    @include border-radius(20px);
                    @include card-shadow;
                }
            }
            .name-text {
                font-size: 26px;
                @include margin(0, 0, 10px, 0);
            }
            .team-text {
                font-size: 17px;
                @include margin(0, 0, 10px, 0);
                display: block;
                color: $brand-color;
            }
            .level-text {
                font-size: 46px;
                font-family: $font-avertablack;
                color: $brand-color;
            }
        }

        .progress {
            @include margin(0, 0, 50px, 0);
            @include border-radius(30px);

            .progress-bar {
                background-color: $brand-color;
                @include border-radius(30px);
            }
        }
        .user-stats {
            @include margin(0, 0, 50px, 0);
            &__row {
                @include margin(0, 0, 25px, 0);
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include padding(0, 0, 25px, 0);
                border-bottom: 1px solid rgba($black-color, 0.1);

                h3 {
                    font-size: 22px;
                    @include padding(0, 10px, 0, 0);

                    @include breakpoint(sm) {
                        font-size: 16px;
                    }
                    @include breakpoint(md) {
                        font-size: 16px;
                    }
                    @include breakpoint(lp) {
                        font-size: 18px;
                    }
                }
                .badge {
                    color: $white-color;
                    font-size: 30px;
                    font-family: $font-avertablack;
                    width: 96px;
                    height: 62px;
                    line-height: 45px;
                    @include border-radius(10px);
                }
                .badge-brown {
                    background: $dark-brown-shade-2;
                }
                .badge-pink {
                    background: $brand-second-color;
                }
                .badge-blue {
                    background-color: #00a8ac;
                }
            }
        }
    }

    &__right {
        @include padding(50px, 50px, 50px, 50px);

        @include breakpoint(sm) {
            @include padding(20px, 20px, 20px, 20px);
        }
        @include breakpoint(md) {
            @include padding(20px, 20px, 20px, 20px);
        }
        @include breakpoint(lp) {
            @include padding(50px, 30px, 50px, 30px);
        }

        .user-info {
            .item {
                @include margin(0, 0, 150px, 0);
                display: flex;

                @include breakpoint(sm) {
                    @include margin(0, 0, 50px, 0);
                }
                @include breakpoint(md) {
                    @include margin(0, 0, 50px, 0);
                }

                figure {
                    @include margin(0, 20px, 0, 0);
                }
                &__title {
                    font-size: 25px;
                    font-family: $font-secondary;
                    @include margin(0, 0, 20px, 0);
                }
                &__sm-text {
                    font-size: 18px;
                }
            }
        }

        .team-stats {
            h2 {
                font-size: 25px;
                font-family: $font-secondary;
                @include margin(0, 0, 50px, 0);
            }
            .circle {
                @include border-radius(50%);
                width: 187px;
                height: 187px;
                text-align: center;
                color: $white-color;
                @include flex-center-column;

                @include breakpoint(sm) {
                    margin: 0 auto 30px;
                }

                @include breakpoint(md) {
                    width: 130px;
                    height: 130px;
                    @include margin(0, 0, 20px, 0);
                }
            }
            .circle-brown {
                background: $dark-brown-shade-1;
            }
            .circle-brand {
                background: $brand-color;
            }
            .circle-blue {
                background: #3ab3e5;
            }
            .text-lg {
                font-family: $font-secondary;
                font-size: 60px;
                @include margin(0, 0, 10px, 0);
                line-height: 45px;
                display: block;
            }
            .text-sm {
                font-size: 18px;
            }
        }
    }
}

.main-form-wrap {
    label {
        font-size: 18px;
        @include margin(0, 0, 20px, 0);
    }
    .form-group {
        @include margin(0, 0, 50px, 0);
    }
}

.challenges {
    h3 {
        font-size: 22px;
        color: $dark-brown-shade-3;
        @include margin(0, 0, 25px, 0);
    }
    &__item {
        background-color: #f6f4f4;
        @include border-radius(20px);
        position: relative;
        @include transition(all 0.6s ease);
        @include margin(0, 0, 20px, 0);
        @include padding(15px, 20px, 15px, 30px);
        display: flex;
        flex-direction: column;
        &:before {
            width: 8px;
            height: 54px;
            background-color: #c50080;
            position: absolute;
            left: -4px;
            top: 16px;
            content: "";
            @include border-radius(50px);
        }
        .item-title {
            font-size: 19px;
            color: $black-color;
            display: inline-block;
            @include margin(0, 0, 5px, 0);
        }
        .date {
            font-size: 17px;
            color: $light-grey-color;
        }
        .arrow {
            display: block;
            @include border-radius(3px);
            background: $brand-color;
            color: $white-color;
            position: absolute;
            right: 30px;
            top: 50%;
            width: 26px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            @include transform(translateY(-50%));
            @include transition(all 0.6s ease);
            i {
                font-size: 13px;
            }
        }

        &:hover {
            @include input-hover;
            background: $white-color;
            .arrow {
                right: 20px;
            }
        }
    }
}


.avatar-wrapper-outer {
    @include margin(0, 0, 50px, 0);
    p {
        text-align: center;
        color: $light-grey-color;
        font-size: 14px;
    }
    .avatar-wrapper {
        position: relative;
        height: 150px;
        width: 150px;
        margin: 20px auto;
        overflow: hidden;
        @include border-radius(50%);
        @include transition(all 0.6s ease);
        border: 3px dashed rgba($black-color, 0.2);
        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
        .profile-pic {
            height: 100%;
            width: 100%;
            @include transition(all 0.6s ease);

            &:after {
                font-family: FontAwesome;
                content: "\f007";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 140px;
                color: rgba($black-color, 0.2);
                text-align: center;
            }
        }
        .upload-button {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            @include border-radius(50%);
            .fa-pencil {
                position: absolute;
                font-size: 18px;
                opacity: 0;
                @include transition(all 0.6s ease);
                color: $white-color;
                background: $brand-color;
                height: 30px;
                text-align: center;
                line-height: 30px;
                width: 30px;
                @include border-radius(50%);
               bottom: 6px;
               right: 56px;

            }
            &:hover .fa-pencil {
                opacity: 10;
            }
        }
    }
}
