.quiz-cont {
  @include padding(30px, 30px, 30px, 30px);

  .question-cont {
    background-color: #f6f4f4;
    @include border-radius(10px);
    position: relative;
    @include margin(0, 0, 20px, 0);
    @include padding(15px, 20px, 15px, 30px);
    display: flex;
    flex-direction: column;
    &:before {
      width: 8px;
      height: 54px;
      background-color: #c50080;
      position: absolute;
      left: -4px;
      top: 16px;
      content: "";
      @include border-radius(50px);
    }
    .quiz-title {
      font-size: 20px;
      color: $dark-brown-shade-3;
      font-family: $font-secondary;
    }
    .sm-text {
      font-size: 17px;
      color: $light-grey-color;
      @include margin(0, 0, 0, 0);
    }
  }

  .answer-cont {
    ul {
      counter-reset: alphabeticList;
      flex-direction: column;
      display: flex;

      li {
        a {
          color: $dark-grey-color;
          border: 1px solid $light-grey-color;
          @include border-radius(10px);
          @include padding(20px, 20px, 20px, 60px);
          display: block;
          position: relative;
          counter-increment: alphabeticList;
          @include margin(0, 0, 20px, 0);

          &:before {
            content: counter(alphabeticList, upper-alpha);
            speak: counter(alphabeticList, upper-alpha);
            position: absolute;
            font-size: 2em;
            font-weight: 700;
            left: 20px;
            top: 50%;
            @include transform(translateY(-50%));
            color: $brand-color;
          }

          &:hover {
            @include input-hover;
            background: $white-color;
            .arrow {
              right: 20px;
            }
          }
        }
      }
    }
  }
}

.quiz-cont-right {
  .quiz-result {
    h2 {
      @include margin(0, 0, 20px, 0);
      font-size: 18px;
    }
    .user-thumb-holder {
      height: 80px;
      display: flex;
      align-items: center;
      @include margin(0, 0, 30px, 0);
      .user-thumb {
        position: relative;
        width: 80px;
        @include margin(0, 20px, 0, 0);
        figure {
          width: 80px;
          height: 80px;
          @include border-radius(50%);
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .number-text {
          display: block;
          width: 30px;
          height: 30px;
          position: absolute;
          background: $brand-second-color;
          color: $white-color;
          font-size: 16px;
          text-align: center;
          line-height: 30px;
          right: 0;
          bottom: 0;
          @include border-radius(50%);
        }
      }
      .user-name {
        font-size: 18px;
      }
    }
  }
}

.loader {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  margin: 0 auto 50px;
  .text {
    text-align: center;
    font-size: 18px !important;
    color: $brand-second-color !important;
    font-family: $font-secondary;
  }
}

.spinner-holder-one,
.spinner-holder-two {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: 0 0;
  box-sizing: border-box;
}

.loader-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.spinner-holder-one {
  width: 50%;
  height: 50%;
}

.spinner-holder-two {
  width: 100%;
  height: 100%;
}

.loader-spinner {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 5px solid $brand-second-color;
  box-sizing: border-box;
}

.animate-0-25-a {
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.animate-0-25-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-25-50-a {
  transform: rotate(180deg);
  transform-origin: 100% 100%;
}

.animate-25-50-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-50-75-a {
  transform: rotate(270deg);
  transform-origin: 100% 100%;
}

.animate-50-75-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-75-100-a {
  transform: rotate(0);
  transform-origin: 100% 100%;
}

.animate-75-100-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}


