.instruction {
    @include padding(30px, 30px, 30px, 30px);

    @include breakpoint(sm) {
        @include margin(0, 0, 40px, 0);
    }
    

    p {
        font-size: 18px;
        color: $dark-brown-shade-2;
        @include margin(0, 0, 50px, 0);
    }
    .bottom-row {
        .item {
            @include flex-center-column;

            @include breakpoint(sm) {
                @include margin(0, 0, 40px, 0);
            }

            .icon-holder {
                @include border-radius(20px);
                width: 65px;
                height: 64px;
                @include margin(0, 0, 30px, 0);
                @include flex-center;

                @include breakpoint(sm) {
                    @include margin(0, 0, 10px, 0);
                }
    

            }
            .icon-holder-red {
                background-color: #d4010b;
            }
            .icon-holder-blue {
                background-color: #00a8ac;
            }
            .icon-holder-brand {
                background-color: $brand-color;
            }

            .icon {
                display: block;
                background: url(../images/icons-sprite.png) no-repeat;
                background-size: 226px 226px;
                @include margin(0, 0, 0, 0);
            }
            .icon-01 {
                width: 35px;
                height: 35px;
                background-position: 0px -46px;
            }
            .icon-02 {
                width: 35px;
                height: 35px;
                background-position: -39px -43px;
            }

            .text-lg {
                font-size: 31px;
                font-family: $font-secondary;
                @include margin(0, 0, 10px, 0);
            }
            .text-red {
                color: #d4010b;
            }
            .text-blue {
                color: #00a8ac;
            }
            .text-brand {
                color: $brand-color;
            }
            p {
                font-size: 14px;
                color: $dark-brown-shade-3;
                margin-bottom: 0;
            }
        }
    }
}

/* video wrapper */
.video-wrap {
    @include margin(0, 0, 50px, 0);
    &__figure-holder {
        @include margin(0, 0, 0, 0);
        overflow: hidden;
        position: relative;
        @include border-radius(20px);
        @include card-shadow;

        img {
            width: 100%;
            @include transform(scale(1));
        }

        &:hover {
            img {
                @include transform(scale(1.1));
            }
            .video-wrap__play-icon {
                opacity: 10;
            }
        }
    }

    &__play-icon {
        position: absolute;
        width: 118px;
        height: 118px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        i {
            color: $white-color;
            font-size: 135px;
        }
    }
}
